@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

/*----- Estilos para centrar todo el contenido -----*/
.ContentError{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----- Estilos para alinear el contenedor -----*/
.ButtonThemeDark{
    position: absolute;
    top: 2%;
    right: 2.5%;
}

.ButtonThemeDark button{
    border: 0;
    padding: 10px 25px;
    border-radius: 12px;
    cursor: pointer;
}

/*----- Estilo para darle ancho a la imagen -----*/
.Img_Error{
    display: grid;
    place-content: center;
}

.Img_Error img{
    width: 250px;
}

/*----- Estilos para el texto de Error -----*/
.Notice_Error{
    margin-top: 20px;
}

.Notice_Error div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Notice_Error div .Eyes_Error{
    width: 40px;
    height: 20px;
}

.Notice_Error div h2{
    text-align: center;
}

.Notice_Error div a{
    text-decoration: none;
    margin-left: 10px;
    font-weight: 700;
    color: rgb(0, 0, 201);
    transition: all .2 ease-in;
}

.Notice_Error div a:hover{
    transition: all .2 ease-in;
    color: rgb(29, 29, 239);
}

/*----- Estilos para el color de modo oscuro -----*/
.dark-theme {
    background-color: #000;
    color: #fff;
}

/*----- Estilos para el color de modo claro -----*/
.light-theme {
    background-color: #fff;
    color: #000;
}